[submodule "public"]
	path = public
	url = https://github.com/mikearagao/mikearagao.github.io.git
[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper.git
